
<img class="header_image" src="https://pngimg.com/uploads/pokemon_logo/pokemon_logo_PNG3.png">
<button class="pulse" routerLink="app-dropdown"> Search</button>
<div class="pagination">
<app-pagination [currentPage]="pokemonPage?.currentPage || 1" (prevClicked)="loadPrev()" (nextClicked)="loadNext()"></app-pagination>
</div>
<div class="poke_container">
<div class="poke-list" *ngFor="let pokelist of pokemonPage?.pokelist" >
    <app-single-card [data]="pokelist"></app-single-card>
</div>
<div class="pagination">
<app-pagination [currentPage]="pokemonPage?.currentPage || 1" (prevClicked)="loadPrev()" (nextClicked)="loadNext()"></app-pagination>
</div>
</div>
