
<img class="header_image" src="https://pngimg.com/uploads/pokemon_logo/pokemon_logo_PNG3.png">
<div class="poke_container">
<div class="poke-list" *ngFor="let pokelist of pokemonPage?.pokelist" routerLink="/detail/{{pokelist.name}}">
    <div class="poke-card">
        <div class="image-container">
            <img class="poke-image" id="image-front" *ngIf="pokelist.images" src="{{pokelist.images.front_default}}" alt="">
            <img class="poke-image" id="image-back" *ngIf="pokelist.images" src="{{pokelist.images.back_default}}" alt="">
        </div> 
        <div class="detail_box"></div>
        <button class="main_button">Name: {{pokelist.name}} </button>

    </div>
</div>
<app-pagination *ngIf="pokemonPage?.currentPage == 1" [currentPage]="pokemonPage?.currentPage || 1" (prevClicked)="loadPrev()" (nextClicked)="loadNext()"></app-pagination>
</div>


 