<button class="pulse" (click)="backClicked()"> Back</button>
<div *ngIf="pokedeets">
    <h1>{{pokedeets.name}}</h1>
    <li>
        <ul><p>height: {{pokedeets.height}}</p></ul>
        <ul><p>weight: {{pokedeets.weight}}</p></ul>
        <ul><p>base exp: {{pokedeets.base_experience}}</p></ul>
        <ul><p *ngFor=" let moves of pokedeets?.moves">{{moves.name}} | {{moves.power}}</p></ul>
    </li>
    <img *ngFor=" let img of pokedeets?.sprites" class="poke-image" id="image-front"  src="{{pokedeets.sprites}}}" alt="">
</div>
