<button class="pulse" (click)="backClicked()"> Back</button>



<div class="poke_container">
<div *ngIf="pokedeets">
    
    <img src="{{pokedeets.sprites?.front_default}}" alt=""/>
    <h1 class="name">{{pokedeets.name}}</h1>
    <li>
        <ul><p>height: {{pokedeets.height}}</p></ul>
        <ul><p>weight: {{pokedeets.weight}}</p></ul>
        <ul><p>base exp: {{pokedeets.base_experience}}</p></ul>
        <ul><p>type: {{pokedeets.types}}</p></ul>

        <ul>
            <app-moves [moves]="pokedeets.moves"></app-moves>
           
        </ul>
    </li>
    
</div>
</div>

